
@font-face {
  font-family: 'UTM Helve';
  src: url('../fonts/UTM Helve.eot');
  src: url('../fonts/UTM Helve.eot?#iefix') format('embedded-opentype');
   src: url('../fonts/UTMHelve.woff') format('woff'),
       url('../fonts/UTMHelve.ttf') format('truetype'),
       url('../fonts/UTMHelve.svg#UTMHelve') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'UTM Dax';
  src: url('../fonts/UTM Dax.eot');
  src: url('../fonts/UTM Dax.eot?#iefix') format('embedded-opentype');
  src: url('../fonts/UTMDaxline.woff') format('woff'),
       url('../fonts/UTMDaxline.ttf') format('truetype'),
       url('../fonts/UTMDaxline.svg#UTMDaxline') format('svg');
  font-weight: normal;
  font-style: normal;
}










